:root{
    --border-radius:6px;
    --color-body: #080808;
    --color-primary: #fff;
    --color-headings: #FF7F11;  
    --color-secondary: #343434;  
}

*, 
*::after, 
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Topography */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    font-weight: 500;
}

p{
    color: var(--color-primary);
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
        
    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }
}

/* Links */
a{
    text-decoration: none;
    color: var(--color-headings);
}

/* Buttons */
.btn{
    padding: 1.4rem 5rem;
    color: var(--color-headings);
    background: var(--color-body);
    cursor: pointer;
    border: 1px solid var(--color-headings);
    border-radius: var(--border-radius);
    display: block;
    margin: 1rem auto;
    transition: 0.7s;
}

.btn:hover{   
    padding: 1.4rem 5rem;
    color: var(--color-body);
    background: var(--color-headings);
    cursor: pointer;
    border: 1px solid var(--color-headings);
    border-radius: var(--border-radius);
}

/* Service Card */

.card{
    padding: 4rem;
    background: var(--color-secondary);
}

.card__content{
    color: var(--color-primary);
}

i{
    font-size: 5rem;
    margin-bottom: 3rem;
}

/* Hero Component */

.header--white{
    color: var(--color-primary);
}

.hero__image__container{
    margin: 1px auto;
}

.hero__image{
    border-radius: 100%;
    border: 3px solid var(--color-headings);
}

/* Form Component */

.input__field{
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin: 1.5rem 0;
    height: 4rem;
    width: 100%;
    border: 0;
    outline: 0;
}

.text__field{
    height: 150px;
    resize: none;
}

::placeholder{
    padding: 0.5rem;
}

/* Grid */
.grid{
    display: grid;
    grid-gap: 3rem;
    /* border: 1px solid lightgrey; */
}

@media screen and (width>=1000px) {
    
    .grid--1X2{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1X3{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--infinity{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Container */

.container{
    padding: 1rem 10% 8rem;
}

/* Footer */
.footer{
    width: 100%;
    background: var(--color-secondary);
    color: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
}

/* Navigation Navbar */
.navbar{
    display: flex;
    padding: 2rem;
}

.logo .logo__img{
    width: 20rem;
}

.close__sidebar{
    padding: 2rem;
    cursor: pointer;
}

.open__sidebar{
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    cursor: pointer;
}

.fas{
    color: var(--color-primary);
}

.navbar{
    position: relative;
}

.links__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100%;
    background: var(--color-secondary);
    box-shadow: -5px 0 5px var(--color-secondary);
    transition: 0.5s;
    z-index: 10;
}
.links__container .nav__link{
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    transition: 0.7s;
}

.links__container .nav__link:hover{
    background: var(--color-headings);
    color: var(--color-body);
}

#sidebar:checked ~ .links__container{
    right: 0;
}

#sidebar:checked ~ #overlay{
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 9;

}
#sidebar{
    display: none;
}

@media screen and (width>=768px){
    .navbar{
        height: 60px;
    }
    
    .logo .logo__img{
        width: 18rem;
        padding: 0;
        margin: 0;
    }


    .links__container{
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
        margin-left: auto;
        box-shadow: none;
        font-size: 2.5rem;
        background: none;
        width: auto;
        height: auto;
        background: none;
        box-shadow: none;
    }

    .links__container .nav__link{
        margin: 2rem ;
    }
    
    #sidebar, .close__sidebar, .open__sidebar{
        display: none;
    }

} 

/* Media Object */

.media__img{
    flex-basis: 35%;
    width: 100%;
    height: 100%;
}

/* Tabs */
/* Initially hide all toggle content */
.toggle-content {
    display: none;
    grid-column: 1 / -1;
}

/* Show content when the corresponding radio button is checked */
#skills:checked ~ .skills__content,
#education:checked ~ .education__content{
    display: block;
}

/* Hide the radio buttons but keep labels visible */
input[type="radio"] {
    display: none;
}

.tab__title {
    cursor: pointer;
}
.tabgrid{
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    gap: 0;
}

/* Contact Me */
.reach__out, .reach, p{
    display: inline-block;
    font-size: 3rem;
    text-transform: lowercase;
    margin-bottom: 3rem;
}

.social__media{
    margin-right: 1.5rem;
    display: inline-block;
    transition: 0.5s;
}

.social__media:hover{
    transform: translateY(-1.2rem);
}