<section id="about" class="container">
    <div class="grid grid--1X2">
      <img
        src="/Images/About Me.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>About Me</h2>
        <p class="paragraph__message">
          I am a passionate web developer with a strong foundation in HTML,
          CSS, JavaScript, TypeScript, and React. A keen eye for detail and a
          commitment to creating user-friendly digital experiences, I have
          successfully completed <a href="#portfolio">several projects</a> and
          this website is one of them.
        </p>

        <p class="paragraph__message">
          My approach combines technical expertise with a focus on clean,
          efficient code and modern design principles. I thrive on
          problem-solving and continuously expanding my knowledge to stay
          updated with the latest industry trends and best practices.
        </p>

        <p class="paragraph__message">
          I am eager to collaborate on innovative projects and contribute to
          building impactful digital solutions. Whether it's crafting
          intuitive interfaces or developing robust applications, I am driven
          by a passion for turning ideas into reality. Let’s create something
          extraordinary together!
        </p>
        <!-- Radio buttons with corresponding labels -->
        <div class="tabgrid">
          <input type="radio" name="toggle" id="skills" checked />
          <input type="radio" name="toggle" id="education" />

          <label for="skills"><h3 class="tab__title">Skills</h3></label>
          <label for="education"><h3 class="tab__title">Education</h3></label>
          <div class="toggle-content skills__content">
            <ul>
              <li class="paragraph__message">
                Web Development<span class="paragraph__message"
                  ><br />Development of websites</span
                >
              </li>
              <li class="paragraph__message">
                Languages<span class="paragraph__message"
                  ><br />HTML | CSS | JavaScript | Typescript | React</span
                >
              </li>
            </ul>
          </div>
          <div class="toggle-content education__content">
            <ul>
              <li>
                Computer Science<span><br />Federal Polytechnic Nekede</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
