<div class="grid grid--1X2">
    <div style="background: white; height: 100px; width: auto;"></div>
    <div style="background: purple; height: 100px; width: 100%;"></div>
</div>

<div class="grid grid--1X3">
    <div style="background: blue; height: 100px; width: auto;"></div>
    <div style="background: red; height: 100px; width: 100%;"></div>
    <div style="background: green; height: 100px; width: auto;"></div>
</div>

<div class="grid grid--infinity">
    <div style="background: white; height: 100px; width: auto;"></div>
    <div style="background: purple; height: 100px; width: 100%;"></div>
    <div style="background: blue; height: 100px; width: auto;"></div>
    <div style="background: red; height: 100px; width: 100%;"></div>
    <div style="background: green; height: 100px; width: auto;"></div>
</div>