<i class="fas fa-bars" onclick= "openmenu()"></i>
<i class="fas fa-times" onclick="closemenu()"></i>
<i class="fab fa-app-store"></i>
<i class="fas fa-code"></i>
<i class="fas fa-crop-alt"></i>
<i class="fas fa-paper-plane"> nenye.okanumee@gmail.com</i>
<i class="fas fa-phone-square-alt"> 07069793773</i>
<a href="https://facebook.com/nenyeokanumee"><i class="fab fa-facebook"></i></a>
<a href="https://twitter.com/nenyeokanumee"><i class="fab fa-twitter-square"></i></a>
<a href="https://instagram.com/nenyeokanumee"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-linkedin"></i></a>