<nav class="navbar">
    <a href="#home" class="logo">
        <img src="/Images/MyNavbarLogo.png" class="logo__img"/>
    </a>
    <input type="checkbox" name="" id="sidebar" />
    <label for="sidebar" class="open__sidebar">
        <i class="fas fa-bars"></i>
    </label>
    <label for="sidebar" id="overlay"></label>
    <div class="links__container">
        <label for="sidebar" class="close__sidebar">
            <i class="fas fa-times"></i>
        </label>
        <a class="nav__link" href="#home">Home</a>
        <a class="nav__link" href="#about">About</a>
        <a class="nav__link" href="#services">Services</a>
        <a class="nav__link" href="#portfolio">Portfolio</a>
        <a class="nav__link" href="#contact">Contact</a>
    </div>
</nav>