<section class="container" id="portfolio">
    <h1>My Projects</h1>
    <p>Here are some of the projects that I have have taken up. Thier codes are available on GitHub</p>
    <div class="grid grid--1X2">
      <img
        src="/Images/Mosh.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>Cloud Hosting Website</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam, quibusdam ipsam placeat architecto asperiores
          aspernatur. Accusamus voluptate inventore quam iusto exercitationem
          alias possimus, hic, aspernatur rerum voluptatem explicabo atque
          incidunt?
        </p>
        <a href="">Visit the Cloud Hosting Website Here</a>
      </div>
      <img
        src="/Images/Age Calculator.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>Age Calculator</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam, quibusdam ipsam placeat architecto asperiores
          aspernatur. Accusamus voluptate inventore quam iusto exercitationem
          alias possimus, hic, aspernatur rerum voluptatem explicabo atque
          incidunt?
        </p>
        <a href="">Visit the Age Calculator Here</a>
      </div>
      <img
        src="/Images/Password Generator.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>Password Generator</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam, quibusdam ipsam placeat architecto asperiores
          aspernatur. Accusamus voluptate inventore quam iusto exercitationem
          alias possimus, hic, aspernatur rerum voluptatem explicabo atque
          incidunt?
        </p>
        <a href="">Visit the Password Generator Here</a>
      </div>
      <img
        src="/Images/Quote Generator.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>Random Quote Generator</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam, quibusdam ipsam placeat architecto asperiores
          aspernatur. Accusamus voluptate inventore quam iusto exercitationem
          alias possimus, hic, aspernatur rerum voluptatem explicabo atque
          incidunt?
        </p>
        <a href="">Visit Random Quote Generator Here</a>
      </div>
      <img
        src="/Images/Todo list.png"
        alt="Myself - Chukwunenye Okanumee"
        class="media__img" />
      <div class="details">
        <h2>Todo list</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Laboriosam, quibusdam ipsam placeat architecto asperiores
          aspernatur. Accusamus voluptate inventore quam iusto exercitationem
          alias possimus, hic, aspernatur rerum voluptatem explicabo atque
          incidunt?
        </p>
        <a href="">Visit the Todo list Here</a>
      </div>
    </div>
  </section>