<section class="container" id="services">
    <h1>My Services</h1>
    <p>
      As a passionate web developer, I specialize in creating functional,
      responsive, and user-friendly web solutions. Here, you’ll find the key
      areas where I can contribute to projects, from building clean,
      dynamic interfaces to testing solutions and seamless
      collaboration.
    </p>
    <div class="grid grid--1X3">
      <div>
        <div class="card">
          <i class="fas fa-code"></i>
          <h2>Web Development</h2>
          <div class="card__content">
            I excel in creating clean, responsive web pages. I have passion
            for web development ensures structured, mobile-friendly designs
            that lay a solid foundation for any project. I bring basic
            JavaScript skills to add interactivity to websites, crafting
            engaging experiences like dynamic sliders and modals that enhance
            usability and user engagement.
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <i class="fas fa-bug"></i>
          <h2>Bug Fixing</h2>
          <div class="card__content">
            With a sharp eye for detail, I identify and fix bugs efficiently.
            I ensure seamless user experiences by resolving layout, styling,
            and basic JavaScript issues in a timely manner.
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <i class="fas fa-mobile-alt"></i>`
          <h2>Responsive Design Implementation</h2>
          <div class="card__content">
            I specialize in building responsive web designs that work
            flawlessly across all devices. My focus is on delivering adaptive
            layouts that prioritize accessibility and performance.
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <i class="fas fa-layer-group"></i>`
          <h2>Framework Familiarity</h2>
          <div class="card__content">
            Proficient in front-end frameworks, I craft reusable components
            that improve project scalability. My foundational React and Vue.js
            skills contribute to building efficient, maintainable codebases.
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <i class="fas fa-code-branch"></i>`
          <h2>Version Control Contribution</h2>
          <div class="card__content">
            Skilled in Git, I effectively manage code changes and collaborate
            seamlessly with teams. My commitment to clean version control
            practices ensures smooth project progress and collaboration.
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <i class="fas fa-search"></i>`
          <h2>Testing and Debugging</h2>
          <div class="card__content">
            With proficiency in browser developer tools, I test and debug
            front-end code to eliminate errors, ensuring reliable and
            optimized website performance for users.
          </div>
        </div>
      </div>
    </div>
  </section>
