    <!-- Radio buttons with corresponding labels -->
    <div class="tabgrid">
        <input type="radio" name="toggle" id="skills">
        <input type="radio" name="toggle" id="education">
        
        <label for="skills"><h3 class="tab__title">Skills</h3></label>
        <label for="education"><h3 class="tab__title">Education</h3></label>
        <div class="toggle-content skills__content"><p>This is skills.</p></div>
        <div class="toggle-content education__content"><p>This is education.</p></div>
    </div>